<!DOCTYPE html>
<html>
  <head>
    <title> Signed Up</title>
  </head>
  <body>
    <h1>User Details</h1>
    <div>
    	<p><strong>EmailId: </strong><%= data.param("emailaddress") %></p>
    	<p><strong>Name: </strong><%= data.param("inputUsername") %></p>
    </div>
    
  </body>
</html>