#fileupload
{
	color: white;
	margin-bottom: 52px;
	    margin-top: 36px;
   
}
#uploadimg{
	    font-size: 28px;

}
#uploadimage{

	margin-top: 132px;
    margin-left: 142px;
    color: white;
}
.textarea{
	width: 57%;
    height: 202px;
    margin-left: 143px;
color: white;
    